<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basiclab.iot.sink.dal.mapper.TdEngineMapper">

    <insert id="insertTableData">
        insert into ${dataBaseName}.${tableName}
        <foreach item="item" collection="schemaFieldValues" separator=","
                 open="(" close=")" index="">
            ${item.fieldName}
        </foreach>
        using ${dataBaseName}.${superTableName}
        tags
        <foreach item="item" collection="tagsFieldValues" separator=","
                 open="(" close=")" index="">
            <choose>
                <when test="item.fieldValue == null">
                    NULL
                </when>
                <!-- boolean 用 isQuoted()，避免 OGNL 取不到 quoted 导致 NCHAR 未加引号、JSON 双引号被吃掉 -->
                <when test="item.dataType != null and item.dataType.isQuoted()">
                    '${item.fieldValue}'
                </when>
                <when test="item.dataType == null">
                    ${item.fieldValue}
                </when>
                <otherwise>
                    ${item.fieldValue}
                </otherwise>
            </choose>
        </foreach>
        values
        <foreach item="item" collection="schemaFieldValues" separator=","
                 open="(" close=")" index="">
            <choose>
                <when test="item.fieldValue == null">
                    NULL
                </when>
                <when test="item.dataType != null and item.dataType.isQuoted()">
                    '${item.fieldValue}'
                </when>
                <when test="item.dataType == null">
                    ${item.fieldValue}
                </when>
                <otherwise>
                    ${item.fieldValue}
                </otherwise>
            </choose>
        </foreach>
    </insert>

</mapper>

