node_modules
.pnpm-store
.build-cache
docker-build-logs

dist
dist-prebuilt-full
dist-prebuilt-mini
dist-prebuilt-standard

dist.zip

logs
*.log

.env.local
.env.*.local

.idea
.vscode
*.swp
*.swo
*~

.git
.gitignore
.gitattributes
.husky
.workflow
.plop
readme
